@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  @apply bg-cover bg-center bg-no-repeat min-h-screen w-full relative;
  background-image: url('/weather.jpg');
}

.searchbar-input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 4px;
  font-size: 16px;
  color: #black;
  z-index: 10;
}